// Navigation Styles here

.navCont {
    
    padding: 25px 0px 25px 0px;
    width: 100%;
    border-bottom: 2px dashed #c0c0c0;

    .test {
        display: flex;
        justify-content: space-between;
        width: 800px;
        align-items: center;
        margin: auto;
    }

    nav {
        display: flex;
        justify-content: space-evenly;

        @media @mobile {
            background-color: thistle;
        }

        a {
            padding-right: 25px; 
            font-size: 1.6rem;
             &:hover {
                color: teal;
            }

        }
    }
}

button {
    .teal-btn() 
}