// Navigation Styles here

.navCont {
    
    padding: 25px 0px 25px 0px;
    width: 100%;
    border-bottom: 2px dashed #c0c0c0;

    @media @mobile {
        padding: 25px 0px 0px 0px;
    }

    .test {
        display: flex;
        justify-content: space-between;
        width: 800px;
        align-items: center;
        margin: auto;

        @media @mobile {
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }

        h1 {
            @media @mobile {
                margin-bottom: 20px;
            }
        }

    }

    nav {
        display: flex;
        justify-content: space-evenly;
        
        @media @mobile {
            margin-bottom: 10px;
            width: 100%;
            justify-content: space-evenly;
        }

        a {
            padding-right: 20px; 
            font-size: 1.6rem;
             
            &:hover {
                color: teal;
            }

        }
    }
}

